.label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
}

.input {
    width: 10vw;
    margin-top: 5px;
}

.input:focus {
    outline: 3px solid #1ac7d2;
    border: none;
}

;